* {
    text-decoration: none;
    padding: 0%;
    margin: 0%;

    font-family:Arial, Helvetica, sans-serif
    
}



nav {
    background-color: rgb(18, 17, 17);
    height: 70px;
    width: 100%;
    line-height: 60px;
    position: fixed;
    z-index: 1000;


}

nav a {
    color: white;
    font-size: x-large;
    padding: 7px;

}

nav a:hover {

    border-bottom: 2px solid red;
}

.nav {
    text-align: center;
    justify-content: center;

}


.banner {
    height: auto;
    width: 100%;
    display: block;
    position: absolute;
    top: 9%;
}

.login {
    line-height: 50px;
    text-align: right;
    font-size: large;
    position: relative;
    left: 480px;
}

.main {
    position: absolute;
    top: 63rem;
    left: 42%;
    width: 20%;
}

.watch-main {
    position: absolute;
    top: 69rem;
    left: 2px;
  
    
    text-align: center;
}

.watch-main img {
    height: 350px;
    width: 330px;
    text-align: center;
    justify-content: center;

}

.perfume-main {
    position: absolute;
    top: 69rem;
    right: 52%;
    text-align: center;
    border-radius: 12px;




}

/* .logo-main img {
position: sticky;
    width: 60px;
    height: 60px;
} */
.perfume-main img {
    height: 350px;
    width: 350px;
    text-align: center;
    justify-content: center;

}

.shoes-main {
    position: absolute;
    top: 69rem;
    left: 51%;
    text-align: center;
 


}

.shoes-main img {
    height: 350px;
    width: 350px;
    text-align: center;
    justify-content: center;

}

.jacket-main {
    position: absolute;
    top: 69rem;
    left: 77%;
    text-align: center;
 


}

.jacket-main img {
    height: 350px;
    width: 345px;
    text-align: center;
    justify-content: center;

}

.category-heading {

    top: 15%;
    left: 40rem;
    position: absolute;
}
.mens-category{
    position: absolute;
    width: 100%;
    top: 2%;
    padding: 60px 0;
background-color: #fff;
}
.mens-category-box{
    width: 120px;
    height: 120pxx;
    background-color: red;

}
.mens-category-box h3 {

}
#a
{
 border-radius: 50%;
 border: 5px solid black;
}