* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: grid;
    grid-template-rows: 80px 300px 300px 150px;
    height: 100vh;
    gap: 15px;
  }
  
  header {
    display: grid;
    grid-template-columns: 10% 90%;
    border: 2px solid black;
  }
  
  .logo {
    border-right: 2px solid black;
  }
  
  main,
  section,
  footer {
    border: 1px solid black;
  }
  
  .row {
    display: grid;
    height: 250px;
    width: 100%;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }
  .col {
    margin: auto;
    border: 1px solid rgb(171, 182, 171);
    height: 150px;
    width: 150px;
    background: grey;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: linear;
  }
  
  .col:hover{
    width: 160px;
    height: 160px;
    cursor: pointer;
    background: wheat;
    margin: auto;
  }
  main {
    width: 85%;
    margin: 0 auto;
  }
  