.A{
    background: #000;
    height:100px;
    width: 100px;
    border: 1px solid black ;
}  
.B{
    background: #95b819;
    height:100px;
    width: 100px;
    border: 1px solid black ;
}  
.C{
    background: #4c1fb6;
    height:100px;
    width: 100px;
    border: 1px solid black ;
}  

