h1{
    color: #bbff00;
    font-size: 80px;
    text-align: center;
    font-family: sans-serif;
    background-color: slateblue;
c}

p{
    text-align: justify;
    font-size: 24px;
    
    font-family: sans-serif;
    color: #001aff;
}

div{
height: auto;
float: left;
background-color: #bbff00;
text-align: justify;
color: rgb(38, 0, 255);
}

h1,h2,h3{
color: #ffffff;
}

#heading{
color: #bbff00;
background-color: beige;
text-align: center;
}

p{
color: #ffffff;
}

.p{
    color: aqua;
}

*{
    background-color: rgb(0, 255, 64);
}

ul li a{

        text-decoration: none;
    color: darkgreen;
    }

body{

    background-color: #ff0000;
}
ul{
    justify-content: space-evenly;
    display: flex;
    font-size: 30px;
}
 ul li{
list-style-type: none;
 }

